@using Alicargo.MvcHelpers.Extensions
@model Alicargo.ViewModels.Calculation.Admin.PaymentModel

<div class="row">
	<div class="span2">
		@Html.EditorWithLabelFor(x => x.Money)
	</div>
</div>
<div class="row">
	<div class="span4">
		@Html.EditorWithLabelFor(x => x.Comment)
	</div>
</div>