@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.Areas.Admin.Models.BillSettingsModel
<h1>
	Параметры счёта
</h1>
@Html.EditPage(Url.Action(MVC.Admin.BillSettings.Index()), Pages.Save)