@using Resources
@inherits BaseWebViewPage
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<p>
	@Html.ActionLink(Pages.Excel, MVC.Calculation.Excel(), new { @class = "btn btn-info" })
</p>
<div id="calculation-grid" class="grid"></div>

@section scripts
{
	<script type="text/x-kendo-template" id="calculation-grid-details-template">
        @Html.Partial("Details")
	</script>
	@Scripts.Render(PathConstants.CalculationJs)
}