<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="mailSettings">
			<section name="default" type="System.Net.Configuration.SmtpSection" />
			<section name="avion" type="System.Net.Configuration.SmtpSection" />
			<section name="alicargo" type="System.Net.Configuration.SmtpSection" />
		</sectionGroup>
	</configSections>
	<mailSettings>
		<default>
			<network host="smtp.gmail.com" enableSsl="true" userName="robot@avionrussia.com" password="GI7zMju78Jdik4ef"
			         port="587" />
		</default>
		<avion>
			<network host="smtp.gmail.com" enableSsl="true" userName="robot@avionrussia.com" password="GI7zMju78Jdik4ef"
			         port="587" />
		</avion>
		<alicargo>
			<network host="smtp.gmail.com" enableSsl="true" userName="robot@alicargo.ru" password="GI7zMju78Jdik4ef"
			         port="587" />
		</alicargo>
	</mailSettings>
</configuration>