@using Resources
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<p>
	<b>@Pages.Cities</b>
	@Html.ActionLink(Pages.Add, MVC.City.Create())
</p>
<div id="city-grid" class="grid"></div>
@section scripts
{
	@Scripts.Render(PathConstants.CityListJs)
}
