@using Alicargo.MvcHelpers
@using Alicargo.MvcHelpers.Extensions
@model TransitEditModel

<ul class="nav nav-tabs" id="transit-tabs">
	<li><a href="#transit-data">@Resources.Pages.Transit</a></li>
	<li><a href="#application-data">@Resources.Pages.Application</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="transit-data">
		@Html.EditPage("", Url.Action(MVC.Transit.Edit()), Resources.Pages.Save)
	</div>
	<div class="tab-pane" id="application-data">
		@Html.Action(MVC.Application.Details((long)ViewBag.ApplicationId))
	</div>
</div>

@section scripts
{
	<script>
		$(function () {
			$('#transit-tabs a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
			$('#transit-tabs a:first').tab('show');
		})
	</script>
}