@using Alicargo.MvcHelpers.Extensions
@model Alicargo.ViewModels.AirWaybill.AwbAdminModel

<h1>
	@Resources.Pages.AirWaybillAdd
</h1>
@Html.EditPage(Url.Action(MVC.AirWaybill.Create()), Resources.Pages.AirWaybillAdd)