<div class="home-page">
	@if (!HttpContext.Current.User.Identity.IsAuthenticated)
	{
		<div class="form-signin-container">
			@Html.Partial("LoginControl")
		</div>
	}
	<div class="home-footer">
	</div>
	<div class="wrap-padding">&nbsp;</div>
</div>