<div class="home-page">
	<div class="text-center">
		<h1>авиа карго</h1>
		<h2>Италия - Москва</h2>
		<h3>23 евро/кг —  4 дня</h3>
		<h4>декларация о соответствии, гтд, счет-фактура, торг-12, безналичный расчет</h4>
	</div>

	<div class="row">
		<div class="span6 text-right">
			<p>zona industriale"A" 62012, via Lamborghini 1</p>
			<p>Civitanova Marche(MC),Italia.</p>
		</div>

		<div class="span6 text-left">
			<p>142001, Московская область, г.Домодедово, </p>
			<p>ул. Корнеева,  д. 27</p>
		</div>
	</div>
</div>