<div class="home-page">
	<div class="row">
		<div class="span6 text-right">
			<p>Italia - <b>ALICARGO srl</b></p>
			<p>zona industriale"A" 62012, via Lamborghini 1</p>
			<p>Civitanova Marche(MC),Italia.</p>
			<p>tel: +39 0733 801022</p>
			<p>fax: +39 0733 803167</p>
			<p>alicargo@twsonline.it</p>
			<p>Ivano Perosino: +39 349 5854995</p>
			<p>Luigino Bucosse: +39 349 1485540</p>
			<p>Alia Iliasova: +39 328 5858723</p>
		</div>
		<div class="span6 text-left">
			<p>Россия - <b>ООО "ЛИНТЕК"</b></p>
			<p>142001, Московская область, г.Домодедово, </p>
			<p>ул. Корнеева,  д. 27</p>
			<p>+ 7 495 768 3314</p>
			<p>msk@alicargo.ru</p>
		</div>
	</div>
</div>