<div class="home-page">
	@*<div class="row">
		<div class="span6 text-right">
			<p>Italia - <b>ALICARGO srl</b></p>
			<p>Civitanova Marche(MC) zona industriale"A" 62012, via Lamborghini 1</p>
			<p>+39 0733 801022</p>
			<p>alicargo@twsonline.it</p>
		</div>
		<div class="span6 text-left">
			<p>Россия - <b>ООО "Трэйд Инвест"</b></p>
			<p>107113 Москва, Сокольническая пл. 4а офис 309</p>
			<p>8 800 555 85 23</p>
			<p>msk@alicargo.ru</p>
		</div>
	</div>*@
</div>