@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ClientModel

<h1>
	@Pages.ClientEdit
	<span>
		@Html.ActionLink(Pages.DownloadCalculations, MVC.Client.Calculations(), new { @class = "btn btn-info" })
	</span>
</h1>
@Html.EditPage(Url.Action(MVC.Client.Edit()), Pages.Save)