@using Resources
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<p>
	@Html.ActionLink(Pages.ClientAdd, MVC.Client.Create())
</p>
<div id="client-grid" class="grid"></div>
@section scripts
{
	@Scripts.Render("~/Scripts/app/Alicargo.js")
	@Scripts.Render("~/Scripts/app/Client/Grid.js")
}