@using Alicargo.Contracts.Resources
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationAdminModel

<h1>
	@Pages.ApplicationAdd
	<span>@Entities.Nic: @Html.ViewBag.ClientNic</span>
</h1>
@Html.EditPage(Url.Action(MVC.Application.Create()), Pages.ApplicationAdd)