@using Alicargo.Core.Resources
@model ApplicationDetailsModel

<h4>@Entities.LegalEntity: @Html.DisplayFor(x => x.ClientLegalEntity)</h4>

<div class="entity-edit entity-details">
	@Html.DisplayForModel()
</div>
