@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationAdminModel

<h1>
	@Pages.ApplicationEdit
	<span class="pull-right">@Entities.Nic: @Html.ViewBag.ClientNic</span>
</h1>
@Html.EditPage(Url.Action(MVC.Application.Edit()), Pages.Update)