@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationAdminModel

<h4 style="margin-top: 26px;" class="pull-right">@Entities.Nic: @Html.ViewBag.ClientNic</h4>
@Html.EditPage(Pages.ApplicationEdit, Url.Action(MVC.Application.Edit()), Pages.Update)