@using Alicargo.MvcHelpers.Extensions
@model Alicargo.ViewModels.AirWaybill.AwbBrokerModel
<div class="row">
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.GTD)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.BrokerCost)
	</div>
	<div class="span4">
		@Html.EditorWithLabelFor(model => model.CustomCost)
	</div>
</div>