@using Alicargo.Contracts.Resources
@using Resources
@using (Html.BeginForm(MVC.RestorePassword.Index(), FormMethod.Post, new { @class = "form-signin" }))
{
	<p>
		@Pages.InputEmail
	</p>
	@Html.TextBox("email", null, new { @class = "input-block-level", placeholder = Entities.Email })	
	<div class="text-center">
		<button class="btn btn-large btn-primary" type="submit">@Pages.RestorePassword</button>
	</div>
	@Html.ValidationSummary()
}