@using Alicargo.Core.Resources
@using Resources
@using (Html.BeginForm(MVC.RestorePassword.NewPassword(), FormMethod.Post, new { @class = "form-signin" }))
{
	<p>
		@Entities.NewPassword
	</p>
	@Html.TextBox("password", null, new { @class = "input-block-level", placeholder = Entities.NewPassword })
	<div class="text-center">
		<button class="btn btn-large btn-primary" type="submit">@Pages.Update</button>
	</div>
	@Html.ValidationSummary()
}