@using Alicargo.MvcHelpers.Extensions
@model Alicargo.ViewModels.AirWaybill.AwbSenderModel

<h1>@Resources.Pages.AirWaybillAdd</h1>
@Html.EditPage(Url.Action(MVC.SenderAwb.Create()), Resources.Pages.AirWaybillAdd)
