@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.AirWaybill.AwbSenderModel

<h1>@Pages.AirWaybillAdd</h1>
@Html.EditPage(Url.Action(MVC.SenderAwb.Create()), Pages.AirWaybillAdd)
