@using Alicargo.Mvc
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.AirWaybill.AwbSenderModel
<div class="container-edit">
	@Html.EditPage(Url.Action(MVC.SenderAwb.Edit()), Pages.Save)
	<hr />
	@Html.Action(MVC.AwbFiles.Sender((long)ViewBag.AwbId))
</div>
@section scripts
{
	@Scripts.Render(JsPaths.AwbFilesJs)
}