<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Alicargo.Core.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="noreply@timez.org">
				<specifiedPickupDirectory pickupDirectoryLocation="D:\S\Projects\Alicargo\Alicargo\Mails" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.10827.0" newVersion="4.0.10827.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<Alicargo.Core.Tests.Properties.Settings>
			<setting name="BaseAddress" serializeAs="String">
				<value>http://localhost:1893/</value>
			</setting>
			<setting name="Login" serializeAs="String">
				<value>Admin</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>Admin</value>
			</setting>
			<setting name="MailsFolder" serializeAs="String">
				<value>D:\S\Projects\Alicargo\Alicargo\Mails</value>
			</setting>
		</Alicargo.Core.Tests.Properties.Settings>
	</userSettings>
</configuration>