@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.State.StateCreateModel
<div class="container-edit">
	<h1>
		@Pages.StateAdd
	</h1>
	@Html.EditPage(Url.Action(MVC.State.Create()), Pages.StateAdd)
</div>