@using Resources
<style>
	.container {
		padding: 0 20px;
		width: auto;
	}
</style>
<h3>
	@Html.ActionLink(Pages.Add, MVC.State.Create(), new {@class = "btn btn-link"})
</h3>
<div id="state-grid" class="grid"></div>
@section scripts
{
	@Scripts.Render(PathConstants.StateListJs)
}