<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Alicargo.FilesMigration.Properties.Settings.MainConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Alicargo_2_6;Integrated Security=True" />
		<add name="Alicargo.FilesMigration.Properties.Settings.FilesConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Alicargo_Files_2_6;Integrated Security=True"
		     providerName="" />
	</connectionStrings>
</configuration>