<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Alicargo.DataAccess.BlackBox.Tests.Properties.Settings.MainConnectionString"
      connectionString="Data Source=.\;Initial Catalog=Alicargo;Integrated Security=True" />
  </connectionStrings>
</configuration>