@using Alicargo.DataAccess.Contracts.Enums
@model AwbFileType

<b>@Alicargo.DataAccess.Contracts.Resources.AwbFileType.ResourceManager.GetString(Model.ToString())</b>
<div data-type="@Model" data-awb-id="@ViewBag.AwbId" class="files-holder">
	<input id="awb-file-@Model" name="file" type="file" />
</div>