@using Alicargo.Mvc
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.Areas.Admin.Models.State.StateEditModel
<div class="container-edit">
	<h1>
		@Pages.StateEdit
	</h1>
	@Html.EditPage(Url.Action(MVC.Admin.State.Edit()), Pages.Save)
	@section scripts
{
		@Scripts.Render(JsPaths.StateEditJs)
	}
</div>