<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Alicargo.DataAccess.Tests.Properties.Settings.MainConnectionString"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=Alicargo;Integrated Security=True"
        providerName="" />
  </connectionStrings>
</configuration>