@using Alicargo.MvcHelpers.Extensions
@using Resources
@model ApplicationClientModel

<h1>
	@Pages.ApplicationAdd
</h1>
@Html.EditPage(Url.Action(MVC.ClientApplication.Create()), Pages.ApplicationAdd)