@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.User.ForwarderModel
<div class="container-edit">
	<h1>
		@Pages.Edit
	</h1>
	@Html.EditPage(Url.Action(MVC.ForwarderUser.Edit()), Pages.Save)
</div>