<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="MainConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Dev_Alicargo;Integrated Security=True;"
		     providerName="System.Data.SqlClient" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Dev_Alicargo_Files;Integrated Security=True"
		     name="FilesDbConnectionString" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="JobPausePeriod" value="00:00:10" />
	</appSettings>
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="robot@alicargo.ru">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\wwwroot\Mails" />
			</smtp>
			<!--<smtp deliveryMethod="Network" from="robot@alicargo.ru">
				<network host="smtp.gmail.com" enableSsl="true" userName="robot@alicargo.ru" password="GI7zMju78Jdik4ef" port="587" />
			</smtp>-->
		</mailSettings>
	</system.net>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>