<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DefaultFrom" value="alicargo.clone@gmail.com" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SupportEmail" value="alicargo.clone@gmail.com" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FeedbackEmail" value="alicargo.clone@gmail.com" />

		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="JobPausePeriod" value="00:00:30" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CourseSourceAttempts" value="5" />
	</appSettings>

	<mailSettings xdt:Transform="Replace">
		<default deliveryMethod="Network" from="alicargo.clone@gmail.com">
			<network host="smtp.gmail.com" enableSsl="true" userName="alicargo.clone@gmail.com" password="ljhRTZ1foBcZt3e"
			         port="587" />
		</default>
	</mailSettings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>