<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="JobPausePeriod" value="00:00:30" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CourseSourceAttempts" value="5" />
	</appSettings>
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="Network" from="robot@avionrussia.com">
				<network host="smtp.gmail.com" enableSsl="true" userName="robot@avionrussia.com" password="GI7zMju78Jdik4ef" port="587" />
			</smtp>
			<!--<smtp deliveryMethod="SpecifiedPickupDirectory" from="robot@avionrussia.com">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\wwwroot\Mails" />
			</smtp>-->
		</mailSettings>
	</system.net>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<clear />
				<rule name="login" enabled="true" stopProcessing="true">
					<match url="^(.*)$" />
					<action type="Redirect" url="http://avionrussia.com/authentication/login" appendQueryString="true"
					        logRewrittenUrl="false" redirectType="Permanent" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(login.)(avionrussia.com)$" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>