<?xml version="1.0"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="MainConnectionString" connectionString="Data Source=db203.my-hosting-panel.com;Initial Catalog=galyamov_alicargo_dev;Persist Security Info=True;User ID=galyamov_alicargo;Password=a1icargo" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="Network" from="noreply@timez.org">
				<network host="mail.timez.org" userName="noreply@timez.org" password="nvault#13" port="2525" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>