<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,  log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="StateId-Default" value="1" />
    <add key="StateId-CargoInStock" value="6" />
    <add key="StateId-CargoIsFlew" value="7" />
    <add key="StateId-CargoAtCustoms" value="8" />
    <add key="StateId-CargoIsCustomsCleared" value="9" />
    <add key="StateId-CargoReceived" value="11" />
    <add key="CargoReceivedDaysToShow" value="10" />
    <add key="StateId-CargoOnTransit" value="12" />

    <add key="DefaultFrom" value="robot@avionrussia.com" />
    <add key="SupportEmail" value="6alyamov@gmail.com" />

    <add key="JobPausePeriod" value="00:00:05" />
    <add key="CourseSourceRetryPolicyPeriod" value="01:00:00" />

    <add key="DefaultInsuranceRate" value="0.01" />
    <add key="CourseSourceAttempts" value="3" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Alicargo;Integrated Security=True"
         name="MainConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Alicargo_Files;Integrated Security=True"
         name="FilesDbConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="robot@avionrussia.com">
        <specifiedPickupDirectory pickupDirectoryLocation="A:\Projects\Alicargo\Alicargo\Mails" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/User/Login" timeout="10080" />
    </authentication>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization uiCulture="auto" culture="auto" />
    <machineKey
      validationKey="75D097807392D852DECB3201B853882E90EB7421D267EF708BD84F7850FB58EE7DA3A6C3EB994FE5F7421E153FD937F89D6C1109D9F5B566BA37075F82D392A5"
      decryptionKey="4A18ADDC919CC4A6062C268EA8068B96DFE374734D60E0C6DE74C213AE04C1F5" validation="SHA1"
      decryption="AES" />
  </system.web>
  <log4net>
    <appender name="Logger" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\errors.log" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-2p %c user:%u%n%m%n%exception%n%n" />
      </layout>
    </appender>
    <logger additivity="false" name="Logger">
      <level value="ERROR" />
      <appender-ref ref="Logger" />
    </logger>
    <appender name="JobsLogger" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\jobs.log" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-2p %c%n%m%n%exception%n%n" />
      </layout>
    </appender>
    <logger additivity="false" name="JobsLogger">
      <level value="ERROR" />
      <appender-ref ref="JobsLogger" />
    </logger>
  </log4net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>