<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DefaultFrom" value="Robot@cargo-trans.li" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SupportEmail" value="alicargo.clone@gmail.com" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FeedbackEmail" value="info@cargo-trans.li" />

		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="JobPausePeriod" value="00:00:30" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CourseSourceAttempts" value="5" />
	</appSettings>

	<mailSettings xdt:Transform="Replace">
		<default deliveryMethod="Network" from="Robot@cargo-trans.li">
			<network host="exchange.cargo-trans.li" enableSsl="false" userName="Cargo\robot" password="1VkXM4lY"
			         port="2525" />
		</default>
	</mailSettings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>