<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="mailSettings">
			<section name="default" type="System.Net.Configuration.SmtpSection" />
			<section name="avion" type="System.Net.Configuration.SmtpSection" />
			<section name="alicargo" type="System.Net.Configuration.SmtpSection" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="DefaultFrom" value="noreply@timez.org" />
		<add key="StateId-Default" value="1" />
		<add key="StateId-CargoInStock" value="6" />
		<add key="StateId-CargoIsFlew" value="7" />
		<add key="StateId-CargoAtCustoms" value="8" />
		<add key="StateId-CargoIsCustomsCleared" value="9" />
		<add key="StateId-CargoReceived" value="11" />
		<add key="StateId-CargoOnTransit" value="12" />
	</appSettings>
	<connectionStrings>
		<add name="Alicargo.Tests.Properties.Settings.MainConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Alicargo;Integrated Security=True;Application Name=Alicargo.Tests"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
	<mailSettings>
		<default deliveryMethod="SpecifiedPickupDirectory" from="robot@avionrussia.com">
			<specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\wwwroot\Mails" />
		</default>
	</mailSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1409.1722" newVersion="4.2.1409.1722" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>