<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Alicargo.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="DefaultFrom" value="noreply@timez.org" />
	</appSettings>
	<connectionStrings>
  <add name="Alicargo.Tests.Properties.Settings.MainConnectionString" connectionString="Data Source=.\;Initial Catalog=Alicargo;Integrated Security=True" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="noreply@timez.org">
				<specifiedPickupDirectory pickupDirectoryLocation="D:\S\Projects\Alicargo\Alicargo\Mails" />
			</smtp>
			<!--<smtp deliveryMethod="Network" from="noreply@timez.org">
				<network host="mail.timez.org" userName="noreply@timez.org" password="nvault#13" port="2525" />
			</smtp>-->
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.10827.0" newVersion="4.0.10827.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<Alicargo.Tests.Properties.Settings>
   <setting name="BaseAddress" serializeAs="String">
    <value>http://localhost:1893/</value>
   </setting>
   <setting name="Login" serializeAs="String">
    <value>Admin</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>Admin</value>
   </setting>
   <setting name="MailsFolder" serializeAs="String">
    <value>D:\S\Projects\Alicargo\Alicargo\Mails</value>
   </setting>
  </Alicargo.Tests.Properties.Settings>
	</userSettings>
</configuration>