@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.User.UserModel
<div class="container-edit">
	<h1>@Pages.Add</h1>
	@Html.EditPage(Url.Action(MVC.User.Create()), Pages.Add)
</div>