@using Alicargo.Contracts.Resources
@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.AirWaybill.AwbBrokerModel
<h3>
	@Entities.AWB:
	@ViewBag.AWB
</h3>
@Html.EditPage(Url.Action(MVC.Broker.AWB()), Pages.Save, @Html.Action(MVC.AirWaybill.CargoIsCustomsClearedButton((long)ViewBag.AwbId)))
