<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Alicargo.Jobs.BlackBox.Tests.Settings.MainConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Alicargo;Integrated Security=True" />
		<add name="Alicargo.Jobs.BlackBox.Tests.Settings.FilesConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Alicargo_Files;Integrated Security=True" />
	</connectionStrings>
	<appSettings>
		<add key="JobPausePeriod" value="00:00:05" />
		<add key="CourseSourceAttempts" value="1" />
		<add key="CourseSourceRetryPolicyPeriod" value="00:00:05" />
	</appSettings>
</configuration>