@using Alicargo.Helpers
@model BrockerAWBModel
<h3>
	@Resources.Entities.AWB:
	@ViewBag.AWB
</h3>
@Html.EditPage("", Url.Action(MVC.Brocker.AWB()), Resources.Pages.Save, @Html.Action(MVC.AirWaybill.CargoIsCustomsClearedButton(Model.Id)))
