@using Alicargo.Contracts.Enums
@model Alicargo.DataAccess.Contracts.Enums.ApplicationFileType

<b>@Alicargo.DataAccess.Contracts.Resources.ApplicationFileType.ResourceManager.GetString(Model.ToString())</b>
<div data-type="@Model" data-app-id="@ViewBag.ApplicationId" class="files-holder">
	<input id="@Model" name="file" type="file" />
</div>