@using System.Web.Optimization
@using Alicargo.Mvc
@using Resources
<p>
	@Html.ActionLink(Pages.Excel, MVC.Excel.Applications(), new { @class = "btn btn-info" })
</p>
<div id="application-grid" class="grid"></div>
<script type="text/x-kendo-template" id="application-grid-details"></script>
@section scripts
{
	@Scripts.Render(JsPaths.ForwarderApplicationListJs)
}