.entity-edit {
	margin-top: 20px;
}

	.entity-edit .span2 input {
		width: 156px;
	}

	.entity-edit .span8 input {
		width: 756px;
	}

	.entity-edit .span8 textarea {
		height: 85px;
		width: 756px;
	}

	.entity-edit .span4 .currency-holder input {
		width: 310px;
	}

	.entity-edit .currency-holder .dropdown-menu {
		min-width: initial;
	}

	.entity-edit .span4 input {
		width: 356px;
	}

	.entity-edit .span4 select {
		width: 370px;
	}

	.entity-edit .span4 textarea {
		height: 85px;
		width: 356px;
	}

	.entity-edit .span4 .ui-tabs {
		margin-bottom: 25px;
	}

		.entity-edit .span4 .ui-tabs select {
			margin-bottom: 0;
			width: 322px;
		}

		.entity-edit .span4 .ui-tabs input {
			margin-bottom: 0;
			width: 308px;
		}

.entity-details {
	margin-bottom: 20px;
}

	.entity-details label {
		font-weight: bold;
	}

.grid {
	font-size: 8pt;
	margin-bottom: 20px;
}

	.grid .btn {
		font-size: 1.2em;
	}

	.grid label, button, select {
		font-size: 1.2em;
		font-weight: normal;
		line-height: 1.4em;
	}


	.grid .k-button-icontext {
		height: 16px;
		margin: 0;
		min-width: 0 !important;
		padding: 0;
		width: 16px;
	}

		.grid .k-button-icontext:hover {
			text-decoration: none;
		}

		.grid .k-button-icontext span {
			background-image: url('../kendo/2013.2.716/Default/sprite.png');
			background-repeat: no-repeat;
			border-color: transparent;
			display: inline-block;
			font-size: 0;
			height: 16px;
			line-height: 0;
			margin: 0;
			overflow: hidden;
			padding: 0;
			width: 16px;
		}

.grid-details {
	background-color: rgb(248, 252, 248);
	padding: 10px;
}

	.grid-details p:last-child {
		margin-bottom: 0;
	}

	.grid-details .properties {
		-moz-column-count: 5;
		-webkit-column-count: 5;
		column-count: 5;
	}

.application-grid-select-client select {
	margin-bottom: 0;
	width: auto;
}

.grid-details-toolbar {
	margin-bottom: 0;
}

	.grid-details-toolbar select {
		margin-bottom: 0;
	}

	.grid-details-toolbar label {
		display: inline-block;
	}

.date-holder {
	margin-bottom: 10px;
}

.row .span12 label {
	display: block;
}

.row .span12 input {
	display: block;
	width: 1156px;
}

#calculation-grid .k-alt {
	background-color: inherit;
}

#calculation-grid td {
	border-width: 1px 0 0 1px;
	font-family: Arial;
	padding-bottom: 0;
	padding-top: 6px;
}

#calculation-grid td.k-edit-cell{
	padding-bottom: 0;
	padding-top: 0;
}

#calculation-grid .cell-button {
	padding-bottom: 3px;
	padding-top: 3px;
}

#calculation-grid .text-bold {
	font-weight: bold;
}

#calculation-grid .k-grouping-row td {
	background-color: #ffff00;
}

#calculation-grid .k-group-sub-footer td.total {
	font-weight: bold;
}

#calculation-grid .k-group-sub-footer.cost-total td {
	background-color: #ff99cc;
}

#calculation-grid .k-group-footer td {
	background-color: inherit;
}

#calculation-grid .k-group-sub-footer-gray td {
	background-color: #e3e3e3;
}

#calculation-grid .additional-cost {
	margin-bottom: 0;
	padding: 0;
}

	#calculation-grid .additional-cost * {
		border: 0 none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	#calculation-grid .additional-cost .k-numerictextbox {
		width: 100%;
		text-align: right;
	}

#calculation-grid td.k-group-cell {
	background-color: #e3e3e3;
	border: 0 none;
}
