.k-widget.k-window {
	width: 827px;
}

.k-edit-form-container {
	width: auto;
}

	.k-edit-form-container .row {
		margin-bottom: 15px;
	}

	.k-edit-form-container input {
		margin-bottom: 0;
		width: 355px;
	}

.k-grid td {
	white-space: nowrap;
}

.k-grid-custom-delete, .k-grid-custom-edit {
	height: 25px;
	line-height: 20px;
	min-width: 0 !important;
}

	.k-grid-custom-delete span, .k-grid-custom-edit span {
		background-image: url('../kendo/2013.2.716/Default/sprite.png');
		background-repeat: no-repeat;
		border-color: transparent;
		display: inline-block;
		font-size: 0;
		height: 16px;
		line-height: 0;
		overflow: hidden;
		width: 16px;
	}

	.k-grid-custom-delete span {
		background-position: -48px -16px;
	}

	.k-grid-custom-edit span {
		background-position: -48px 0;
	}
