@using Alicargo.Core.Resources
@using Resources
@using (Html.BeginForm(MVC.Authentication.Login(), FormMethod.Post, new { @class = "form-signin" }))
{
	<p>
		@Pages.InputEmail
	</p>
	@Html.TextBox("email", null, new { @class = "input-block-level", placeholder = Entities.Email })
	@Html.ValidationSummary(true)
	<div class="text-center">
		<button class="btn btn-large btn-primary" type="submit">@Pages.RestorePassword</button>
	</div>
}