@using Alicargo.MvcHelpers.Extensions
@using Resources
@model Alicargo.ViewModels.User.SenderModel
<div class="container-edit">
	<h1>
		@Pages.SenderEdit
	</h1>
	@Html.EditPage(Url.Action(MVC.Sender.Edit()), Pages.Save)
</div>