@using Alicargo.DataAccess.Contracts.Enums
@model ApplicationFileType

<b>@Alicargo.DataAccess.Contracts.Resources.ApplicationFileType.ResourceManager.GetString(Model.ToString())</b>
<div data-type="@Model" data-app-id="@ViewBag.ApplicationId" class="files-holder">
	<input id="appl-file-@Model" name="file" type="file" />
</div>