@using Alicargo.MvcHelpers.Extensions
@using Resources

@Html.DropDownList("client-balance-select", (IDictionary<string, string>)ViewBag.Urls)
<a href="#" class="btn btn-primary" id="client-balance-decrease-link">@Pages.BalanceDecrease</a>
<a href="#" class="btn btn-primary" id="client-balance-increase-link">@Pages.BalanceIncrease</a>
@Html.ActionLink(Pages.RegistryOfPayments, MVC.RegistryOfPayments.Index(), new { @class = "btn btn-primary" })
